$default-color: #26a69a;

.input-component {
    height: 60px;
    .input-field.col label {
        left: 0;
    }
    .input-field input:focus + label {
        color: var(--primary-color, $default-color) !important;
    }
    .input-field input:focus {
        border-bottom: 1px solid var(--primary-color, $default-color) !important;
        box-shadow: 0 1px 0 0 var(--primary-color, $default-color) !important;
    }
}